---
---

@import "{{ site.theme }}";


.site_title a {
    text-decoration: none;
    color: darkslategray;
}

body {
    background-color: #f7f3ee;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.figure_title {
    color: #000000;
    padding-right: 5px;
    font-weight: bold;
}

.figure_text {
    margin: 0% 10%;
}

strong {
    font-weight: bold;
}


.bring_it_home {
    background-color: rgb(233, 233, 233);
}

.bring_it_home h2 {
    background-color: black;
    color: white;
}

.bring_it_home h3 {
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
}

.bring_it_home p {
    margin-left: 5%;
    margin-right: 5%;    
}

.link_it_up {
    background-color: rgb(233, 233, 233);
}
