---
---

@import "{{ site.theme }}";


.site_title a {
    text-decoration: none;
    color: darkslategray;
}

body {
    background-color: #f7f3ee;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000
}

.figure_title {
    color: #000000;
    padding-right: 5px;
    font-weight: bold;
}



.bring_it_home {
    background-color: rgb(233, 233, 233);
}

.bring_it_home h2 {
    background-color: black;
    color: white;
}

.bring_it_home h3 {
    font-weight: bold;
}